.vote-system {
  font-family: sans-serif;
  text-align: center;
}

.poll {
  margin-top: 10px;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
}

.vote-form {
  display: grid;
  gap: 10px;
}

/* fr - ratio */
/* min-with - yes, max-width -no */

body {
  margin: 0;
  padding: 0;
}

.action-bar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* on top of each other */
  /* justify-content: space-between; */
}

/* Bigger screen */
@media (min-width: 600px) {
  .poll {
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
  }

  .action-bar {
    /* side by side */
    flex-direction: row;
    justify-content: space-between;
  }
}
